@import './part1.css';
@import './part2.css';
@font-face {
	font-family: "Cardo-Regular";
	src: url("/assets/fonts/cardo/Cardo-Regular.ttf");
};
@font-face {
	font-family: "Cardo-Bold";
	src: url("/assets/fonts/cardo/Cardo-Bold.ttf");
}
@font-face {
	font-family: "Inter-Regular";
	src: url("/assets/fonts/inter/Inter-Regular.otf");
}
@font-face {
	font-family: "Inter-Bold";
	src: url("/assets/fonts/inter/Inter-Bold.otf");
}

:root {
	--horiz-padding: 15%;
	--vert-padding: 4rem;

	--dark-blue: #1B3764;
	--yellow: #FFCA42;
	--gray: #969AA0;
	--light-grey: #B4C7E7;
	--blue-gray: #F4F8FF;
	--white: #FFF;

	font-size: 19px;
}

/* reto ndray mi reset ny style par defaut an browser satria ny style par defaut par browser misy tsy mitovy */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

::-webkit-scrollbar{
	width: 1rem;
	background: var(--dark-blue);
}

::-webkit-scrollbar-track{
	background: #0d1b31;
	margin-block: 2rem;
	margin-inline: 1rem;
	border-radius: 1rem;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	-ms-border-radius: 1rem;
	-o-border-radius: 1rem;
}
::-webkit-scrollbar-thumb{
	background: var(--yellow);
	border-radius: 1rem;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	-ms-border-radius: 1rem;
	-o-border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover{
	cursor: pointer;
}

a {
	/* display: inline-flex; */
	width: max-content;
	height: max-content;
	text-decoration: none;
	color: inherit;
}

html,
body {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	/* line-height: 1.5rem; */
}

button:hover,
a:hover {
	cursor: pointer;
}

button.regular-btn {
	background-color: transparent;
	font-family: "Cardo-Regular";
    display: flex;
    padding: 1rem 3rem 1.05rem 3rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;

	font-weight: 700;
	font-size: 1rem;
	letter-spacing: 0.02375rem;
}

h1{
	font-size: 3.8rem;
	font-family: "Cardo-Regular";
}

h2{
	font-size: 3.4rem;
	font-family: "Cardo-Regular";
}

h3{
	font-size: 2.6rem;
	font-family: "Cardo-Regular";
}

h4{
	font-size: 1.8rem;
	font-family: "Cardo-Regular";
}

h5{
	font-size: 1.4rem;
	font-family: "Cardo-Regular";
}

h6{
	font-size: 1.25rem;
	font-family: "Cardo-Regular";
}
#loader{
  z-index: 18;
  position: absolute;
  background-color: var(--dark-blue);

  width: 100%;
  height: 100lvh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6rem;

  color: var(--yellow);
}

#loader h3{
	letter-spacing: 1.8rem;
	text-align: center;
	text-transform: uppercase;
}

#loader img{
	width: 8rem;
	animation: logo-anim 1s ease-in-out 0s infinite forwards;
	-webkit-animation: logo-anim 1s ease-in-out 0s infinite forwards;
	animation-fill-mode: forwards;
}

#loader > *{
	position: relative;
} 

#loader.loaded img{
	animation: goAwayleftFade .4s ease-in-out 0s 1 forwards;
	-webkit-animation: goAwayleftFade .4s ease-in-out 0s 1 forwards;
	animation-play-state: running;
	animation-fill-mode: forwards;
}

#loader.loaded h3{
	animation: goAwayRightFade .4s ease-in-out 0s 1 forwards;
	-webkit-animation: goAwayRightFade .4s ease-in-out 0s 1 forwards;
	animation-play-state: running;
	animation-fill-mode: forwards;
}

#loader.loaded{
	animation: goAwayTopFade .4s ease-in-out 0.4s 1 forwards;
	-webkit-animation: goAwayTopFade .4s ease-in-out 0.4s 1 forwards;
	animation-play-state: running;
	animation-fill-mode: forwards;
}

#main-content {
	z-index: 15;

	display: flex;
	flex-direction: column;

	width: 100%;
	height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;

	scroll-behavior: smooth;

	position: relative;

	background-color: #FFF;
}

#main-content > *:not(header){
	z-index: 10;
}

/* .full-page {
	width: 100%;
	height: max-content;
	min-height: 100%;
} */

@media only screen and (max-width: 1600px) {
	:root {
		--horiz-padding: 9.5%;
		--vert-padding: 2rem;
		font-size: 16px;
	}
}

@media only screen and (max-width: 1500px) {
	:root {
		font-size: 14px;
	}
}

@media only screen and (max-width: 1200px) {
	:root {
		font-size: 12px;
		--horiz-padding: 8%;
		--vert-padding: 2rem;
	}
}

@media only screen and (max-width: 992px) {
	:root {
		--horiz-padding: 4%;
		--vert-padding: 6rem;
		font-size: 12px;
	}
}

@media only screen and (max-width: 680px) {
	:root {
		--vert-padding: 4rem;
		--horiz-padding: 30px;
	}
}

@media only screen and (max-width: 450px){
	:root {
		--horiz-padding: 20px;
	}

}

@keyframes logo-anim {
	50%{
		transform: translateY(-6rem);
		-webkit-transform: translateY(-6rem);
		-moz-transform: translateY(-6rem);
		-ms-transform: translateY(-6rem);
		-o-transform: translateY(-6rem);
	}

	100%{
		transform: translateY(0rem);
		-webkit-transform: translateY(0rem);
		-moz-transform: translateY(0rem);
		-ms-transform: translateY(0rem);
		-o-transform: translateY(0rem);
}
}

@keyframes goAwayTopFade {
	0%  { bottom: 0; }
	50%  { bottom: -10vh }
	100%  { bottom: 100vh }
}

@keyframes goAwayleftFade {
	0%  { right: 0; }
	50%  { right: -10vw }
	100%  { right: 100vw }
}

@keyframes goAwayRightFade {
	0%  { left: 0; }
	50%  { left: -10vw }
	100%  { left: 100vw }
}

@keyframes pipika {
	0%{
		filter: opacity(0%);
		-webkit-filter: opacity(0%);
	}
	5%{
		filter: opacity(60%);
		-webkit-filter: opacity(60%);
	}
	8%{
		filter: opacity(0%);
		-webkit-filter: opacity(0%);
	}
	12%{
		filter: opacity(100%);
		-webkit-filter: opacity(100%);
}
	100%{
		filter: opacity(100%);
		-webkit-filter: opacity(100%);
}
}

#reflextion, #lamp{
	animation: pipika 3s ease-in-out 0s infinite forwards;
	-webkit-animation: pipika 3s ease-in-out 0s infinite forwards;
	animation-play-state: running;
	animation-fill-mode: forwards;
}