@import './part1.css';
@import './part2.css';
@font-face {
	font-family: "Cardo-Regular";
	src: url("/assets/fonts/cardo/Cardo-Regular.ttf");
};
@font-face {
	font-family: "Cardo-Bold";
	src: url("/assets/fonts/cardo/Cardo-Bold.ttf");
}
@font-face {
	font-family: "Inter-Regular";
	src: url("/assets/fonts/inter/Inter-Regular.otf");
}
@font-face {
	font-family: "Inter-Bold";
	src: url("/assets/fonts/inter/Inter-Bold.otf");
}

:root {
	--horiz-padding: 15%;
	--vert-padding: 4rem;

	--dark-blue: #1B3764;
	--yellow: #FFCA42;
	--gray: #969AA0;
	--light-grey: #B4C7E7;
	--blue-gray: #F4F8FF;
	--white: #FFF;

	font-size: 19px;
}

/* reto ndray mi reset ny style par defaut an browser satria ny style par defaut par browser misy tsy mitovy */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

a {
	text-decoration: none;
	color: inherit;
}

html,
body {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	/* line-height: 1.5rem; */
}

button:hover,
a:hover {
	cursor: pointer;
}

button.regular-btn {
	background-color: transparent;
	font-family: "Cardo-Regular";
    display: flex;
    padding: 1rem 3rem 1.05rem 3rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;

	font-weight: 700;
	font-size: 1rem;
	letter-spacing: 0.02375rem;
}

h1{
	font-size: 3.8rem;
}

h2{
	font-size: 3.4rem;
}

h3{
	font-size: 2.6rem;
}

h4{
	font-size: 1.8rem;
}

h5{
	font-size: 1.4rem;
}

h6{
	font-size: 1.25rem;
}
/* #loader{
  z-index: 18;
} */

#main-content {
	z-index: 15;

	display: flex;
	flex-direction: column;

	width: 100%;
	height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;

	scroll-behavior: smooth;

	position: relative;

	background-color: #FFF;
}

#main-content > *:not(header){
	z-index: 10;
}

/* .full-page {
	width: 100%;
	height: max-content;
	min-height: 100%;
} */

@media only screen and (max-width: 1600px) {
	:root {
		--horiz-padding: 9.5%;
		--vert-padding: 2rem;
		font-size: 16px;
	}
}

@media only screen and (max-width: 1500px) {
	:root {
		font-size: 14px;
	}
}

@media only screen and (max-width: 1200px) {
	:root {
		font-size: 12px;
		--horiz-padding: 8%;
		--vert-padding: 2rem;
	}
}

@media only screen and (max-width: 992px) {
	:root {
		--horiz-padding: 4%;
		--vert-padding: 6rem;
		font-size: 12px;
	}
}

@media only screen and (max-width: 680px) {
	:root {
		--vert-padding: 4rem;
		--horiz-padding: 30px;
	}
}

@media only screen and (max-width: 450px){
	:root {
		--horiz-padding: 20px;
	}

}