.contain_title {
    color: var(--dark-blue);
    font-family: "Cardo-Regular";
}

.boite {
    display: inline-block;
    position: relative;
    padding: 1rem;
}

.boite::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15%;
    border-bottom: 2px solid var(--yellow); 
}

#learn {
    text-align: center;
    font-family: 'Cardo-Regular';
    padding: var(--vert-padding) var(--horiz-padding) var(--vert-padding) var(--horiz-padding);
}

#learn .learn_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--vert-padding);
}

#learn .left_container {
    flex: 1;
    width: 100%;
    height: 100%;
}

#learn .card {

    background: var(--blue-gray);
    margin: 1rem;
    padding: var(--vert-padding);
    width: 40%;
    height: 40%;
    text-align: left;
    color: var(--dark-blue);
}

.card p {
    margin-top: var(--horiz-padding);
}

.card .rounded {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 30%;
    background: var(--yellow);
    border-radius: 2rem;
    font-size: 15px;
    font-weight: bold;
}


#learn .left_container .top_card {
    display: flex;
}

#learn .left_container .bottom_card {
    display: flex;
}



#learn .right_container {
    flex: 1;
    padding: var(--vert-padding);
    display: flex;
    justify-content: center;
    align-items: center;
}

#learn .right_container .frame {
    border: 0.5rem solid var(--yellow);
    width: 70%;
    height: 80%;
}

#learn .right_container img{
    transform: translate(-20px,-20px);
    width: 100%;
}


#chapter {
    text-align: center;
    background-color: var(--blue-gray);
    margin-top: var(--vert-padding);
    padding: var(--horiz-padding) var(--horiz-padding) var(--horiz-padding) var(--horiz-padding);
}

#chapter p {
    font-family: 'Inter-Regular';
    color: var(--gray);
}

#chapter .boite {
    color: var(--dark-blue);
    font-family: "Cardo-Regular";
}

#chapter .chapter_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: var(--vert-padding);
}

#chapter .chapter_container .top_chapter_card {
    display: flex;
}

#chapter .chapter_container .bottom_chapter_card {
    display: flex;
}

.chap_card {
    margin: var(--vert-padding);
    text-align: left;
    background-color: var(--white);
    padding: var(--vert-padding);
}

.title_card {
    font-family: 'Cardo-Regular';
    color: var(--dark-blue);
}

.chap_card .desc_card {
    margin-top: 1rem;
}

.chap_card .foot {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.chap_card .foot .left_foot, .right_foot {
    display: flex;
    align-items: center;
}

.foot .round {
    height: 10px;
    width: 10px;
    background: var(--yellow);
    margin: 0 0.5rem 0 0;
    border-radius: 100px;
}

.chap_card .blue {
    color: var(--dark-blue);
    font-size: 16px;
    font-family: "Cardo-Regular";
    font-weight: bold;
}

.footer_chapter .footer_chapter_button {
    border: none;
    background-color: var(--yellow);
    padding: 1rem 6rem;
    font-family: 'Cardo-Bold';
    font-size: 15px;
    color: var(--dark-blue);
    font-weight: bolder;
    margin-top: var(--vert-padding);
}

.short_description {
    margin-top: var(--vert-padding);
}

#chapter .link {
    display: flex;
    justify-content: center;
    font-family: 'Inter-Regular';
}

#chapter .link a {
    margin-right: 0.5rem;
    color: var(--dark-blue);
    border-bottom: 1px solid var(--dark-blue);
}

#about_book {
    padding: var(--horiz-padding);
    margin: var(--vert-padding);
    display: flex;
    justify-content: center;
}

#about_book p{
    font-family: 'Inter-Regular';
    color: var(--gray);
}

#about_book .boite_unique{
    color: var(--dark-blue);
    font-family: "Cardo-Regular";
    display: inline-block;
    position: relative;
    padding-bottom: 1rem;
}

.boite_unique::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0%;
        width: 7%;
        border-bottom: 2px solid var(--yellow);
}

#about_book .book_left {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

#about_book .book_description {
    margin-top: var(--vert-padding);
}

#about_book .rating .element {
    display: flex;
    margin-top: var(--vert-padding);
    color: var(--dark-blue);
    font-weight: bold;
}

#about_book .rating .element .round {
    background: var(--yellow);
    width: 16px;
    height: 16px;
    margin: 2px;
    border-radius: 100%;

}

#about_book .rating .element .mid_round {
    border: 1px solid var(--yellow);
    background: conic-gradient(
        from 180deg,
        var(--yellow) 0%,
        var(--yellow) 50%,
        #ffffff 50%,
        #ffffff 100%
      );
    width: 16px;
    height: 16px;
    margin: 2px 0.5rem 2px 2px;
    border-radius: 100%;
}

#about_book .rating .rating_text {
    margin-top: 0.5rem;
    font-family: 'Inter-Regular';
    color: var(--dark-blue);
}

#about_book .book_right {
    display: flex;
    flex: 2;
}

#about_book .book_right .left_book_right {
    padding: 2rem;
}

#about_book .book_right .left_book_right .card_book {
    background: var(--dark-blue);
    padding: var(--vert-padding);
    margin: 1rem 0 2rem 1rem;
}


#about_book .book_right .left_book_right .card_book .head_card{
    display: flex;
    align-items: center;
}

.profile_rating {
    display: flex;
    align-items: center;
}

.profile_rating .round{
    width: 16px;
    height: 16px;
    background: var(--yellow);
    margin: 2px;
    border-radius: 50%;
}

.profile_rating .mid_round {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid var(--yellow);
    background: conic-gradient(
        from 180deg,
        var(--yellow) 0%,
        var(--yellow) 50%,
        var(--dark-blue) 50%,
        var(--dark-blue) 100%
    );
    margin: 0 0 0 2px;
}

#about_book .book_right .left_book_right .card_book .head_card .profile img{
    width: 5rem;
    height: 5rem;
    background-size: cover;
    border-radius: 50%;
    margin-right: 1rem;
}

#about_book .book_right .right_book_right {
    display: flex;
    justify-content: center;
    align-items: center;
}

#about_book .book_right .right_book_right .card_book {
    background: var(--dark-blue);
    padding: var(--vert-padding);
    margin: 1rem 1rem 1rem 0;
}

#about_book .book_right .right_book_right .card_book .head_card{
    display: flex;
    align-items: center;
}

#about_book .book_right .right_book_right .card_book .head_card .profile img{
    width: 5rem;
    height: 5rem;
    background-size: cover;
    border-radius: 50%;
    margin-right: 1rem;
}

#article {
    text-align: center;
    background: var(--blue-gray);
    padding: var(--vert-padding);
}

#article p{
    font-family: 'Inter-Regular';
}

#article .article_cards {
    display: flex;
    margin-top: var(--vert-padding);
    justify-content: center;
    padding: var(--vert-padding) var(--horiz-padding) var(--vert-padding) var(--horiz-padding);
}

#article .article_cards .article_card {
    margin: 1rem;
    width: 100%;
    background-color: var(--white);
}

#article .article_cards .article_card img {
    width: 100%;
}

#article .article_cards .article_card .desc {
    padding: 1rem;
    text-align: left;
}

#article .article_cards .article_card .desc h3 {
    font-family: 'Cardo-Regular';
    color: var(--dark-blue);
}

#article .article_cards .article_card .desc p {
    font-family: 'Inter-Regular';
    color: var(--gray);
    margin-top: 1rem;
}

#article .article_cards .article_card .desc .c_f {
    display: flex;
    justify-content: space-between;
}

#article .article_cards .article_card .desc .c_f a{
    color: var(--dark-blue);
    border-bottom: 1px solid var(--dark-blue);
    font-family: 'Cardo-Regular';
    font-weight: bold;
}

#article .article_cards .article_card .desc .c_f .r_f {
    font-family: 'Inter-Regular';
    color: var(--dark-blue);
}

#subscription {
    padding:var(--horiz-padding);
    text-align: center;
}

#subscription .subscription_box {
    background: var(--yellow);
    padding:var(--horiz-padding);
}

#subscription .subscription_box .boite {
    color: var(--dark-blue);
}

#subscription .subscription_box .boite::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15%;
    border-bottom: 2px solid var(--dark-blue); 
}

#subscription .subscription_box p{
    font-family: 'Inter-Regular';
    margin-top: 1.5rem;
    color: var(--dark-blue);
}

.sub_foot {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.sub_foot input {
    height: 3rem;
    width: 50%;
    border: none;
    padding: 1rem;
}

.sub_button {
    border: none;
    margin-left: 1rem;
    width: 20%;
    font-family: 'Cardo-Regular';
    font-weight: bold;
    background: var(--dark-blue);
    color: var(--white);
}

footer {
    text-align: center;
    background: var(--dark-blue);
    line-height: 2rem;
    padding: 3rem 0 3rem 0;
}

footer .top_footer {
    display: flex;
    justify-content: center;
    margin: 5%;
}

footer .top_footer .foot_card {
    margin: 2%;
    flex: 1;
}

footer .top_footer .foot_card h3 {
    text-align: left;
    font-family: 'Cardo-Regular';
    color: var(--white);
}

footer .top_footer .foot_card .el {
    margin-top: 1rem;
    color: var(--blue-gray);
    font-family: 'Inter-Regular';
}

footer .line_el {
    display: flex;
    align-items: center;
}

footer .line_el .dot {
    display: flex;
    margin-right: 1rem;
}

footer .rond{
    border-radius: 50%;
    width: 0.3rem;
    height: 0.3rem;
    border: 1px solid var(--yellow);
    margin: 1.5px;
}

footer .foot_card .social_title{
    display: flex;
    color: var(--white);
    font-family: 'Inter-Regular';
}

footer .foot_card .social_title img{
    margin: 0 1rem 0 3.5rem;
    width: 1.5rem;
}

footer .social_content {
    margin-top: 1.5rem;
    padding: 0;
}

footer .social_content a img {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 2px;
}

.line_elt {
    display: flex;
}

.line_elt .bold {
    font-family: 'Cardo-Regular';
    font-size: 14px;
    font-weight: bold;
    color: var(--white);
    margin-right: 0.5rem;
}

footer .white {
    color: var(--white);
    font-family: 'Inter-Regular';
}

.bottom_footer {
    color: var(--blue-gray);
    padding-top: 1.5rem;
}

.footer_line {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1px;
}

.footer_line .solid {
    border-bottom: 1px solid var(--gray);
    width: 80%;
}