.contain_title {
    color: var(--dark-blue);
    font-family: "Cardo-Regular";
}

.boite {
    display: inline-block;
    position: relative;
    padding: 1rem;
}

.boite::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15%;
    border-bottom: 2px solid var(--yellow);
}

#learn {
    flex-direction: column;
    text-align: center;
    gap: 3.8rem;

    font-family: 'Cardo-Regular';
    padding: calc(var(--vert-padding)*2) calc(1.8rem + var(--horiz-padding));
}

#learn .learn_container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 5.6rem
}

#learn .left_container,
#learn .img-container {
    display: flex;
}

#learn .left_container {
    flex-wrap: wrap;
    gap: 1.6rem;
    width: 70%;
    /* align-items: center; */
    justify-content: center;
}

#learn .img-container {
    justify-content: center;
    height: 95%;
    width: 55%;
}

#learn .card {
    display: flex;
    flex-direction: column;
    aspect-ratio: 1;

    /* flex: 1; */

    gap: 1.6rem;

    background: var(--blue-gray);
    color: var(--dark-blue);

    width: 46%;
    max-width: 285px;
    height: max-content;

    padding: 2.2rem 2rem;

    text-align: justify;
}

.card .rounded {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 2.8rem;
    height: 2.8rem;
    font-size: 1rem;

    background: var(--yellow);
    border-radius: 50%;
    font-weight: bold;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.card .text_description {
    font-size: 1.2rem;
    font-style: normal;
    line-height: 140%;
    letter-spacing: -0.015rem;
    text-align: left;
}

#chapter {
    flex-direction: column;
    gap: 3.8rem;

    text-align: center;
    background-color: var(--blue-gray);
    padding: calc(var(--vert-padding)*2.2) var(--horiz-padding);
}

#chapter p {
    font-family: 'Inter-Regular';
    color: var(--gray);
}

#chapter .chapter_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 4.6rem;
}

#chap-cards {
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
}

.chap_card {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.4rem;

    width: calc(50% - 2.5rem);
    text-align: left;
    background-color: var(--white);

    padding: 2.6rem 3rem;
}

.chap-card-content {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.6rem;
}

.title_card {
    font-family: 'Cardo-Regular';
    color: var(--dark-blue);
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.03rem;
}

.desc_card {
    font-weight: 400;
    line-height: 180%;
    letter-spacing: -0.01188rem;
}

.chap_card .details p {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.chap_card .details .nbr {
    line-height: normal;
    font-size: 1.2rem;
}

.chap_card .foot {
    display: flex;
    gap: 1rem;
}

.chap_card .blue {
    color: var(--dark-blue);
    font-size: 16px;
    font-family: "Cardo-Regular";
    font-weight: bold;
}

.footer_chapter {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 35%;
    max-width: 485px;

    gap: 2rem;
}

.footer_chapter .regular-btn {
    width: 100%;
    min-width: max-content;
    background-color: var(--yellow);
    border: 1px solid var(--yellow);
}

.footer_chapter .short_description {
    font-family: 'Inter-Regular';
    margin-right: 0.5rem;
    color: var(--dark-blue);
    font-weight: 400;
    line-height: 170%
}

.footer_chapter .short_description a {
    color: var(--dark-blue);
    text-decoration: underline;
}

#about_book {
    display: flex;
    justify-content: center;
    padding: calc(var(--vert-padding)*2.2) var(--horiz-padding);
}

#about_book p {
    font-family: 'Inter-Regular';
    color: var(--gray);
    font-weight: 400;
    line-height: 180%;
    /* 2.1375rem */
    letter-spacing: -0.01188rem;
}

#about_book .book_left,
#about_book .book_right,
#about_book .group {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about_book .book_left {
    width: 40%;
    gap: 3.2rem;
}

#about_book .title {
    width: 80%;
    min-width: 330px;
}

#about_book .group {
    gap: 2.4rem;
}

#about_book .rating .element {
    display: flex;
    align-items: center;

    color: var(--dark-blue);
    font-weight: bold;
}

#about_book .rating .element .round {
    background: var(--yellow);
    width: 16px;
    height: 16px;
    /* margin: 2px; */
    border-radius: 100%;

}

#about_book .rating .element .mid_round {
    border: 1px solid var(--yellow);
    background: conic-gradient(from 180deg,
            var(--yellow) 0%,
            var(--yellow) 50%,
            #ffffff 50%,
            #ffffff 100%);
    width: 16px;
    height: 16px;
    margin-right: .5rem;
    border-radius: 100%;
    line-height: 180%;
    letter-spacing: -0.01188rem;
}

#about_book .rating .rating_text {
    margin-top: 0.5rem;
    font-family: 'Inter-Regular';
    color: var(--dark-blue);
}

#about_book .left_book_right,
#about_book .right_book_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.8rem;

    width: 50%;
}

#about_book .book_right {
    flex-direction: row;
    gap: 1.8rem;

    width: 60%;
    color: var(--white);
    flex: 2;
}

#about_book .card_book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;

    width: 100%;

    background: var(--dark-blue);
    padding: 2.2rem 1.6rem;
    aspect-ratio: 1;
    /* margin: 1rem 0 2rem 1rem; */
}

#about_book .card_book .group {
    gap: .6rem;
}

#about_book .card_book .group p {
    text-align: justify;
}

#about_book .book_right .left_book_right .card_book .head_card {
    display: flex;
    align-items: center;
}

.card_book .head_card .info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.card_book .bio {
    line-height: 120%;
    letter-spacing: -0.01375rem;
}

.profile_rating {
    display: flex;
    align-items: center;
}

.profile_rating .round {
    width: 16px;
    height: 16px;
    background: var(--yellow);
    margin: 2px;
    border-radius: 50%;
}

.profile_rating .mid_round {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid var(--yellow);
    background: conic-gradient(from 180deg,
            var(--yellow) 0%,
            var(--yellow) 50%,
            var(--dark-blue) 50%,
            var(--dark-blue) 100%);
    margin: 0 0 0 2px;
}

.book_right .card_book .head_card .profile img {
    width: 5rem;
    height: 5rem;
    background-size: cover;
    border-radius: 50%;
    margin-right: 1rem;
}

.book_right .right_book_right {
    display: flex;
    justify-content: center;
    align-items: center;
}

#about_book .book_right .right_book_right .card_book .head_card {
    display: flex;
    align-items: center;
}

#about_book .book_right .right_book_right .card_book .head_card .profile img {
    width: 5rem;
    height: 5rem;
    background-size: cover;
    border-radius: 50%;
    margin-right: 1rem;
}

#article {
    flex-direction: column;
    text-align: center;
    gap: 3.8rem;

    background: var(--blue-gray);
    padding: calc(var(--vert-padding)*2) calc(1.8rem + var(--horiz-padding));
}

#article p {
    font-family: 'Inter-Regular';
}

#article .article_cards {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.article_cards .article_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    background-color: var(--white);
}

.article_cards .article_card img {
    width: 100%;
    object-fit: cover;
}

.article_cards .article_card .desc {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;

    padding: 1.4rem 1.8rem;
    text-align: justify;
}

.article_cards .article_card .desc h5 {
    font-family: 'Cardo-Regular';
    color: var(--dark-blue);
    line-height: 125%;
    letter-spacing: -0.03rem;
}

.article_cards .article_card .desc p {
    font-family: 'Inter-Regular';
    color: var(--gray);
    line-height: 180%;
    letter-spacing: -0.01188rem;
}

.article_cards .article_card .desc .c_f {
    display: flex;
    justify-content: space-between;
}

.article_cards .article_card .desc .c_f a {
    color: var(--dark-blue);
    border-bottom: 1px solid var(--dark-blue);
    font-family: 'Cardo-Regular';
    font-weight: bold;
}

.article_cards .article_card .desc .c_f .r_f {
    font-family: 'Inter-Regular';
    color: var(--dark-blue);
}

#subscription {
    flex-direction: column;
    padding: calc(var(--vert-padding)*2.2) var(--horiz-padding);
    text-align: center;
}

.subscription_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.8rem;

    width: 100%;
    padding: 7rem 14rem;
    background: var(--yellow);
}

.subscription_box .title::before {
    border-bottom: 0.15rem solid var(--dark-blue);
}

.subscription_box p {
    font-family: 'Inter-Regular';
    color: var(--dark-blue);
    line-height: 180%;
    letter-spacing: -0.01188rem;
}

.sub_foot {
    display: flex;
    justify-content: center;
    width: 100%;
}

.sub_foot input {
    height: 3rem;
    width: 100%;
    border: none;
    padding: 1rem;
}

.sub_foot input::placeholder {
    color: var(--gray);
    font-family: "Inter";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: -0.01063rem;
}

.sub_button {
    border: none;
    margin-left: 1rem;
    width: max-content;
    font-family: 'Cardo-Regular';
    font-weight: bold;
    background: var(--dark-blue);
    color: var(--white);
    padding: 0 6.4375rem;

    font-weight: 700;
    line-height: 125%;
    letter-spacing: 0.02375rem;
}

footer {
    display: flex;
    flex-direction: column;

    gap: 1rem;

    text-align: center;
    background: var(--dark-blue);
    line-height: 2rem;
    padding: calc(var(--vert-padding)*1.4) calc(1.8rem + var(--horiz-padding));
}

footer .top_footer {
    display: flex;
    justify-content: space-between;
    gap: 9rem
}

#foot-group {
    display: flex;
    gap: 3.8rem;
}

footer .top_footer .foot_card {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

footer .top_footer .foot_card h5 {
    text-align: left;
    font-family: 'Cardo-Regular';
    color: var(--white);
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.03rem;
}

footer .top_footer .foot_card .el {
    color: var(--light-grey);
    font-family: 'Inter-Regular';
}

footer .line_el {
    display: flex;
    align-items: center;
}

footer .line_el .dot {
    display: flex;
    margin-right: 1rem;
}

footer .rond {
    border-radius: 50%;
    width: 0.3rem;
    height: 0.3rem;
    border: 1px solid var(--yellow);
    margin: 1.5px;
}

footer .foot_card .social_title {
    display: flex;
    color: var(--white);
    font-family: 'Inter-Regular';

    gap: 0.5rem;
}

footer .foot_card .social_title h2 {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: "Inter-Regular";
}

footer .foot_card .social_title img {
    width: 1.4rem;
    height: auto;
}

footer .social_content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .6rem;
}

footer .social_content a img {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 2px;
}

.line_elt {
    display: flex;
    justify-content: space-between;
    gap: 0.6rem;

    color: var(--light-grey);

    font-family: "Inter";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: -0.01125rem;
}

.line_elt .bold {
    color: var(--white);
    font-family: 'Cardo-Regular';
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: 0.0225rem;
    width: max-content;
    text-wrap: nowrap;
}

.line_elt span:not(.bold) {
    width: 100%;
    text-align: center;
}

footer .white {
    color: var(--white);
    font-family: 'Inter-Regular';
}

.bottom_footer {
    color: var(--light-grey);
    line-height: 200%;
    letter-spacing: -0.01063rem;
}

.footer_line {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1px;

    margin-top: 4.6rem;
}

.footer_line .solid {
    border-bottom: 1px solid var(--white);
    width: 100%;
}

@media only screen and (max-width: 1200px) {
    #learn .card {
        max-width: 320px;
    }

    .footer_chapter {
        width: 50%;
        max-width: 485px;
        min-width: max-content;
    }
}

@media only screen and (max-width: 992px) {
    .learn_container {
        flex-direction: column;
    }

    #learn .left_container {
        width: 100%;
    }

    #learn .card {
        aspect-ratio: unset;
        max-width: unset;
        min-width: 260px;
        width: 48%;
    }

    #article .article_cards {
        flex-direction: column;
    }

    .article_cards .article_card {
        flex-direction: row;
        width: 100%;
    }

    .article_cards .article_card img {
        width: 40%;
        object-fit: cover;
    }

    .article_cards .article_card .desc {
        justify-content: center;
    }

    .subscription_box {
        padding: 7rem 4rem;
    }

    .subscription_box>* {
        width: 100%;
        max-width: 480px;
    }

    .sub_button {
        border: none;
        margin-left: 1rem;
        width: max-content;
        font-family: 'Cardo-Regular';
        font-weight: bold;
        background: var(--dark-blue);
        color: var(--white);
        padding: 0 2rem;

        font-weight: 700;
        line-height: 125%;
        letter-spacing: 0.02375rem;
    }

    footer .top_footer {
        flex-direction: column;
        gap: 4rem;
    }

    footer .top_footer .foot_card.first {
        flex-direction: row;
        justify-content: space-between;
        gap: 4rem;
    }
}

@media only screen and (max-width: 768px) {
    #chap-cards {
        flex-direction: column;
    }

    .chap_card {
        width: 100%;
        max-width: 550px;
    }

    #about_book {
        flex-direction: column;
        gap: 2rem;
    }

    #about_book .title {
        min-width: unset;
        text-align: center;
    }

    #about_book .book_left,
    #about_book .book_right,
    #about_book .group,
    #about_book .group p {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    #about_book .book_right {
        flex-direction: column;
    }

    #about_book .left_book_right,
    #about_book .right_book_right {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    #about_book .card_book {
        width: 98%;
        max-width: 300px;
    }

    #about_book .card_book .group {
        gap: 0.6rem;
        align-items: flex-start;
    }
}

@media only screen and (max-width: 680px) {

    #learn .card,
    #learn .img-container {
        width: 100%;
        max-width: 350px;
    }

    #foot-group {
        flex-direction: column;
    }

    footer .top_footer .foot_card .el {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    footer .line_el {
        width: 50%;
        max-width: 150px;
    }
}

@media only screen and (max-width: 496px) {
    .chap_card .foot {
        width: 100%;
        flex-direction: column;
    }

    .chap_card .foot p {
        width: 100%;
    }

    .chap_card .foot .nbr {
        margin: auto;
    }

    .article_cards .article_card {
        flex-direction: column;
        width: 100%;
    }

    .article_cards .article_card img {
        width: 100%;
    }

    .article_cards .article_card .desc {
        justify-content: center;
    }
}